<section id="experience">
  <table>
    <tr>
      <td class="header">
        <h2>Experience</h2>
      </td>

      <td class="content">
        <ul>
          <li>
            <span class="date">June 2014 &#8211; Sept 2016</span>
            <h3>EasyHome</h3>
            <h4>Head Technician/Dept. Lead</h4>
            <div class="more-less-content">
              <ul>
                <li>Created and ran internal repair department, saving thousands per month.</li>
                <li>Responsible for mobile device repairs for 20+ EasyHome franchise locations, including Laptops, Cell Phones, Desktops, GPSs, etc. </li>
                <li>Part sourcing and inventory control.</li>
                <li>Repair tracking, time efficiency, and Cost/Effort analysis</li>
              </ul>
            </div>
            <a class="more-less-toggle hide">+ more</a>
          </li>
          <li>
            <span class="date">Feb 2012 &#8211; May 2012</span>
            <h3>Wireless Warehouse</h3>
            <h4>Repair Technician</h4>
            <div class="more-less-content">
              <ul>
                <li>Learned fundamentals of mobile repair.</li>
                <li>Provided me with a base of simple experience to grow my skills and knowledge of mobile device repair on my own.</li>
                <li>Allowed me to recognize the need for, and create, the internal repair department for EasyHome.</li>
              </ul>
            </div>
            <a class="more-less-toggle hide">+ more</a>
          </li>
          <li>
            <span class="date">March 2011 &#8211; September 2012</span>
            <h3>Geek Squad</h3>
            <h4>Supervisor</h4>
            <div class="more-less-content">
              <ul>
                <li>Took on a supervisor role in GeekSquad assisting in the hiring process, budgeting, and interpersonal employee relations.</li>
                <li>Responsible for meeting daily sales goals, budgets, and handling difficult customer issues.</li>
                <li>Adherence and integration of new SOP</li>
              </ul>
            </div>
            <a class="more-less-toggle hide">+ more</a>
          </li>
          <li>
            <span class="date">March 2010 &#8211; Jan 2012</span>
            <h3>Geek Squad</h3>
            <h4>Technician</h4>
            <div class="more-less-content">
              <ul>
                <li>A+ certified technician</li>
                <li>Customer service and sales</li>
                <li>Logistics, warranty facilitation</li>
                <li>Phone support and home support</li>
                <li>Advanced IT techniques and utilities</li>
              </ul>
            </div>
            <a class="more-less-toggle hide">+ more</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</section>
