<section id="profile">
  <img src="img/me1to1.jpg"/>

  <h1>John (Sol) Ferguson</h1>

  <h3>Full Stack Developer</h3>

  <p>
    Jr Full-stack web developer with IT, systems administration, mobile hardware, and management experience. Looking for the next challenge and opportunity to grow my passion for web development by learning new skills, languages, and frameworks.
    Driven self-learner with a passion for technology and sciences, generally imperturbable, open, and honest to a fault. I became a developer to make ideas into realities, and excel at doing it well. My code is clean, efficient, and I always keep in mind the current and future implications of my code.
    I am a veritable encyclopedia of pop culture references, and I make great cookies.
  </p>

  <h4 class="link">
    <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i><a href="https://www.linkedin.com/in/john-ferguson-web-developer/">LinkedIn</a> &#149;
    <i class="fa fa-lg fa-github" aria-hidden="true"></i><a href="http://github.com/BatBrain">GitHub</a>
  </h4>
</section>
