<section id="projects">
  <table>
    <tr>
      <td class="header">
        <h2>Projects</h2>
      </td>

      <td class="content">
        <ul>
          <li>
            <span class="date">December 2015</span>
            <h3>henderiks.ca API</h3>
            <h4 class="link"><a href="http://github.com/jhenderiks/api">GitHub</a></h4>
            <p>Proxy API service used to call various third-party APIs.</p>
          </li>
          <li>
            <span class="date">November 2015</span>
            <h3>Vibes</h3>
            <h4 class="link"><a href="http://github.com/jhenderiks/vibes">GitHub</a></h4>
            <p>Twitter sentiment analytics, using IBM's Watson API to analyze tweets based on positivity, negativity or ambivalence.</p>
          </li>
          <li>
            <span class="date">October 2015</span>
            <h3>FoodMap</h3>
            <h4 class="link"><a href="http://jhfoodmap.herokuapp.com">Live Demo</a> &#149; <a href="http://github.com/jhenderiks/foodmap">GitHub</a></h4>
            <p>Restaurant locator and rating app, complete with map, geolocation and voting system.</p>
          </li>
          <li>
            <span class="date">October 2015</span>
            <h3>500px Slideshow</h3>
            <h4 class="link"><a href="http://apps.henderiks.ca/slideshow">Live Demo</a> &#149; <a href="http://github.com/jhenderiks/500px_slideshow">GitHub</a></h4>
            <p>Slideshow SPA with search function, using photos from 500px.</p>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</section>
