<section id="skills">
  <table>
    <tr>
      <td class="header">
        <h2>Skills</h2>
      </td>

      <td class="content">
        <h3>Languages</h3>
        <ul>
          <li>JavaScript ES5/ES6</li>
          <li>Ruby</li>
        </ul>
        <ul>
          <li>SQL</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
        <h3>Frameworks & Libraries</h3>
        <ul>
          <li>jQuery</li>
          <li>React.js</li>
          <li>ØMQ</li>
          <li>ExpressJS</li>
          <li>WebSockets</li>
        </ul>
        <ul>
          <li>Webpack</li>
          <li>Bootstrap</li>
          <li>Redux</li>
          <li>CoffeeScript</li>
          <li>Passport</li>
        </ul>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
        <h3> Other Technologies </h3>
        <ul>
          <li>Nodejs</li>
          <li>MySql</li>
          <li>Postgresql</li>
          <li>MongoDB</li>
          <li>Automated Testing</li>
          <li>OOP</li>
        </ul>
        <ul>
          <li>RESTful APIs</li>
          <li>OAuth/OAuth 2</li>
          <li>SSH</li>
          <li>SSL</li>
          <li>AWS</li>
          <li>XML APIs</li>
          <li>SWAGGER APIs</li>
          <li>Vagrant</li>
          <li>VMWare vSphere</li>
        </ul>
      </td>
    </tr>
  </table>
</section>
